@model PrimerParcial.Models.Entidades.formaEnvio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>formaEnvio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.formaEnvioDescripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.formaEnvioDescripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.formaEnvioID">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
