@model PrimerParcial.Models.Entidades.formaEnvio

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>formaEnvio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="formaEnvioID" />
            <div class="form-group">
                <label asp-for="idSuplidor" class="control-label"></label>
                <select asp-for="idSuplidor" class="form-control" asp-items="ViewBag.idSuplidor"></select>
                <span asp-validation-for="idSuplidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formaPagoID" class="control-label"></label>
                <input asp-for="formaPagoID" class="form-control" />
                <span asp-validation-for="formaPagoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="formaEnvioDia" class="control-label"></label>
                <input asp-for="formaEnvioDia" class="form-control" />
                <span asp-validation-for="formaEnvioDia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <textarea asp-for="Nota" class="form-control"></textarea>
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
