@model PrimerParcial.Models.Entidades.Ubicacion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Ubicacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sector" class="control-label"></label>
                <input asp-for="Sector" class="form-control" />
                <span asp-validation-for="Sector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoCasa" class="control-label"></label>
                <input asp-for="NoCasa" class="form-control" />
                <span asp-validation-for="NoCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>
