@model PrimerParcial.Models.Entidades.Suplidor

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Suplidor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idSuplidor" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefono" class="control-label"></label>
                <input asp-for="telefono" class="form-control" />
                <span asp-validation-for="telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCiudad" class="control-label"></label>
                <select asp-for="idCiudad" class="form-control" asp-items="ViewBag.idCiudad"></select>
                <span asp-validation-for="idCiudad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idClasificacionSuplidor" class="control-label"></label>
                <select asp-for="idClasificacionSuplidor" class="form-control" asp-items="ViewBag.idClasificacionSuplidor"></select>
                <span asp-validation-for="idClasificacionSuplidor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>


